.faq-bg {
  min-height: 100vh;
  max-width: 100%;
  background-color: #f1f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-title {
  font-size: clamp(1.5rem, 1.9vw, 2rem);
  font-weight: 550;
  color: #0b132a;
  margin: 20px 0 20px 0;
  text-align: center;
}

.faq-container {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 600px) {
  .faq-container {
    max-width: 400px;
    padding: 8px;
  }

  ul {
    gap: 10px;
  }

  .faq-bg {
    padding: 18px;
  }

}
