

.ipl-team-card  {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}


.ipl-team-card:hover {
  transform: scale(1.1);
}

.team-logo  {
  height: 100px;
  width: 85px;
}


.home-team-name{
  color: #ffffff;
  font-family: Bree Serif;
  font-weight: 500;
  font-size: clamp(1rem, 1vw, 1.2rem);
  margin-left: 10px;
}