


.message-list-container {
    height: auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.message-icon-status {
    display: flex;
    align-items: center;
    gap: 8px;
}


.close-icon {
    font-size: clamp(1rem, 1.5rem, 2rem);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
}

