.stop-watch-background {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 60px;
  text-align: center;
  background-color: #ffffff;
}

.title {
  font-size: clamp(1rem, 1.9vw, 2.4rem);
  font-weight: 550;
  margin-bottom: 10px;
  color: #333333;
}

.stop-watch-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.stop-watch-container-title img {
  height: 25px;
  width: 25px;
}

.stop-watch-container-title p {
  font-size: clamp(1rem, 1.4vw, 2.4rem);
}

.stopwatch-timer {
  font-size: clamp(1rem, 2.5vw, 8rem);
  font-weight: 650;
  margin-bottom: 10px;
  color: #333333;
}

.stopwatch-control-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.control-btn {
  height: 45px;
  width: 130px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 550;
  color: #ffffff;
  cursor: pointer;
}

.start-btn {
  background-color: #1db05f;
}

.stop-btn {
  background-color: #ef0d36;
}

.reset-btn {
  background-color: #eaa800;
}
