.login-form-background {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.website-login-img {
  width: 100%;
  max-width: 750px;
}

.login-form {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 60px;
  width: 100%;
  max-width: 750px;
  justify-content: center;
}

.login-username {
  height: 50px;
  width: 100%;
  padding: 15px 30px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.login-form-img {
  width: 200px;
}

.login-form-img-wrapper {
  display: flex;
  justify-content: center;
}

.username-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0 10px 0;
}

.login-label {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  font-weight: 500;
}

.login-button {
  width: 100%;
  height: 50px;
  background-color: #0840a8;
  color: #ffffff;
  border: none;
  margin: 10px 0 10px 0;
  font-weight: 650;
  font-size: clamp(1rem, 1vw, 1.5rem);
  cursor: pointer;
}


.error-msg  {
    color: #ff0b0b;
    font-weight: 550;
    
}