.latest-match-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #1e293b;
  border-radius: 12px;
  padding: 24px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  color: #ffffff;
  align-items: center;
}

/* Left Section */
.match-info-left {
  flex: 1.5;
  text-align: left;
}

.team-name {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
}

.match-date {
  font-size: 20px;
  color: #cbd5e1;
  margin: 0 0 5px 0;
  font-weight: 500;
  margin: 25px 0 25px 0;
}

.match-venue {
  font-size: 16px;
  color: #94a3b8;
  margin: 20px 0 15px 0;
}

.match-result {
  font-size: 18px;
  color: #cbd5e1;
  margin-top: 15px;
  font-weight: 500;
}

/* Middle Section: Logo */
.match-logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.team-logo-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* Right Section */
.match-info-right {
  flex: 1;
  text-align: right;
}

.detail-item {
  margin: 25px 0 25px 0;
}

.detail-label {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #ffffff;
  margin: 0 0 5px 0;
}

.detail-value {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: white;
  margin: 10px 0 10px 0;
  font-weight: 500;
}

@media (max-width: 600px) {
  .latest-match-card {
    grid-template-columns: repeat(auto-fit, minmax(180px), 1fr);
    gap: 18px;
    padding: 0;
  }

  .match-info-left {
    text-align: center;
    margin-bottom: 24px;
    padding: 10px;
  }

  .match-info-right {
    border-top: 5px solid #475569;
  }

  .match-logo-container {
    margin-bottom: 24px;
    padding: 10px;
  }

  .team-logo-img {
    width: 180px;
    height: 180px;
  }

  .match-info-right {
    text-align: center;
    border-top: 5px solid #334155;
    padding-top: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .latest-match-card {
    grid-template-columns: repeat(auto-fit, minmax(230px), 1fr);
    gap: 22px;
    padding: 0;
  }
/* 
  .match-info-right {
    padding-top: 20px;
  } */

  .team-logo-img {
    width: 230px;
    height: 230px;
  }
  .match-info-left {
    margin-bottom: 24px;
    padding: 10px;
  }
  .match-logo-container {
    margin-bottom: 24px;
    padding: 10px;
  }
}
