.bg {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.title {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 550;
  color: #03132c;
  margin: 15px 0 15px 0;
  text-align: center;
}

.first-name-input-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

label {
  font-size: clamp(0.8rem, 1.9vw, 1rem);
  font-weight: 550;
  color: #0b0a11;
  margin: 10px 0 8px 0;
}

input {
  height: 50px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #686868;
  outline: none;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  border-radius: 8px;
  color: #8f8f8f;
  transition: border 0.3s ease-in-out;
}

input::placeholder {
  color: #8f8f8f;
}
input:focus {
  border: 1.5px solid #ff0b37;
}

.button-container {
  text-align: center;
}

.button-container button {
  height: 45px;
  width: 130px;
  border-radius: 7px;
  background-color: #1170ff;
  color: #ffffff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-container button:hover {
  background-color: #0847a7;
  transform: scale(1.1);
}

.error-msg {
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 500;
  color: #ff0000;
  margin: 10px 0 10px 0;
}

.error-bg {
  border: 2px solid #ff0b37;
  background-color: #fef2f4;
}


.registration-success-wrapper  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-img  {
  height: 120px;
  width: 100%;
  max-width: 120px;
}

.success-heading  {
  font-size: clamp(1.5rem, 1.7vw, 2rem);
  font-weight: 550;
  margin: 10px 0 10px 0;
}


.submit-another-response-btn  {
  height: 40px;
  width: 100%;
  color: #ffffff;
  border-radius: 8px;
  background-color: #ea580c;
  border: none;
  font-weight: 550;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.submit-another-response-btn:hover {
  background-color: #c4420c;
  transform: scale(1.1);
}