@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.app-store-bg {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  max-width: 100%;
  padding: 20px;
}

.title {
  font-size: clamp(1rem, 2.5vw, 2rem);
  padding: 18px 0 15px 0;
  font-weight: 600;
}

.search-app-input {
  height: 70px;
  width: 600px;
  outline: none;
  border-radius: 7px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  transition: outline 0.3s ease-in-out;
}

.search-app-input:focus {
  outline: 1px solid #0655ff;
  border: none;
}

.search-app-input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.app-store-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

ul .tab-item {
  font-size: clamp(1rem, 1.7vw, 1.5rem);
  font-weight: 500;
  color: #474040;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

ul .tab-item:hover {
  transform: scale(1.1);
}

.tab-item-list {
  display: flex;
  gap: 45px;
  margin-top: 20px;
}


.app-store-list-item {
  margin: 22px 0 30px 0;
  display: grid;
  gap: 15px;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (max-width: 576px) {
  .app-store-list-item {
    width: 100%;
    max-width: 500px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 13px;
    padding: 20px;

  }

  .tab-item-list {
    gap: 20px;
  }




  .search-app-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
  }
}