.recent-match-card-list {
  background-color: #0f172a;
  width: 100%;
  max-width: 450px;
  height: 360px;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.recent-match-image {
  height: 120px;
  width: 120px;
}

.competing-team {
  font-size: clamp(1rem, 1.5rem, 2rem);
  color: #ffffff;
  font-weight: 560;
  margin: 15px 0 15px 0;
}

.match-result {
  font-size: clamp(1rem, 1rem, 2rem);
  margin: 17px 0 19px 0;
}

.match-status {
  font-size: clamp(1rem, 1.8vw, 2rem);
  margin: 18px 0 17px 0;
}

.won {
  color: #18ed66;
}

.lost {
  color: #e31a1a;
}
