.background {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #0f172a);
  min-height: 100vh;
  max-width: 100%;
}

.team-banner {
  width: 100%;
  border-radius: 7px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.latest-match {
  font-size: clamp(1rem, 1.1vw, 1.3rem);
  color: #ffffff;
  font-weight: 450;
  margin: 10px 0 10px 0;
}

.recent-match-card-container {
  display: flex;
  justify-content: center;
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 18px 0 20px 0;
}

