.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found-img {
  width: 400px;
}

h1 {
  font-size: clamp(1rem, 2.5rem, 3rem);
  font-weight: 650;
  color: #071f4b5d;
  font-family: Bree serif;
}