

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 28px 0;
    gap: 20px;
}

.blog-content  h2 {
    font-size: clamp(1.5rem, 1.1vw, 3rem);
    font-weight: 560;
}

.blog-content  p {
    font-size: clamp(1rem, 1vw, 2rem);
}
