@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}



.bg  {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card  {
    width: 100%;
    max-width: 500px;
    background-color: #150b3e;
    border-radius: 16px;
    padding: 30px 35px;
}

.profile-continer  {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-avatar  {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #c7d2fe;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


.user-name  {
    font-size: clamp(0.8rem, 1.8vw, 1.2rem);
    color: #c7d2fe;
    font-weight: 450;
}


.balance-container  {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.balance-container .current-balance {
    font-size: clamp(0.8rem, 1.6vw, 1.2rem);
    color: #ffffff;
    font-weight: 550;
}


.current-balance  {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #ffffff; 
    font-weight: 450;
    line-height: 1.3;  
}



.in-rupee  {
    color: #585076;
    font-weight: 400;
    font-family: 'mv boli';
}


.amount-withdraw-container  {
    margin-top: 35px;
}

.withdraw-title  {
    font-size: clamp(0.7rem, 1.3vw, 1.2rem);
    font-weight: 400;
    color: #ffffff;
}

.choose-sum-title {
    color: #585076;
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
    font-weight: 450;
    text-transform: uppercase;
    margin: 7px 0 7px 0;
}

li {
    list-style: none;
}


.balance {
    color: #585076;
    font-weight: 500;
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
}

.denomination-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.denomination-button {
    height: 45px;
    width: 100%;
    padding: 15px 30px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    background-color: #585076;
    border: 1px solid #c4c4c4;
}